language = "deno"
run = "deno install --allow-read --allow-env --allow-run -n vr https://deno.land/x/velociraptor/cli.ts && deno install -Af --unstable https://deno.land/x/denon/denon.ts && vr serve"
