<%- await include('partials/header.ejs', { title: 'My Website' }) %>

<h1>About</h1>
<article>
  <div class="flex">
    <div>
      <h2>Useful Resources</h2>
      <ul>
        <li><a href="https://deno.land/manual">Deno Manual</a></li>
        <li><a href="https://deno.land/std">Deno Standard Library</a></li>
        <li><a href="https://deno.land">Deno 3rd Party Modules</a></li>
        <li><a href="https://github.com/denolib/awesome-deno">Awesome Deno</a></li>
        <li><a href="https://github.com/eankeen/awesome-oak">Awesome Oak</a></li>
      </ul>
    </div>
    <figure>
      <img src="https://cdn.pixabay.com/photo/2016/12/05/11/39/fox-1883658_960_720.jpg" alt="Picture of a cute fox">
      <figcaption>
        A foxxo waiting patiently. <a href="https://pixabay.com/photos/fox-animal-wildlife-red-macro-1883658">Image source.</a>
      </figcaption>
    </figure>
  </div>
</article>

<%- await include('partials/footer.ejs', {}) %>
